        <!--header-->

        <include href = "header.html"/>
        <h1 class="cover-heading">Answers</h1>
        <p>{{ @question.question }}</p>
        <table class="table">
          <thead class="thead-light">
            <tr>
              <th>#</th>
              <th>Answer</th>
            </tr>
          </thead>
          <tbody>
              <!--set up  repeat loop-->
              <repeat group="{{ @query }}" value="{{ @item }}" >
            <tr>
              <td>{{ @item.id }}</td>
              <td>{{ @item.answer }}</td>
            </tr>
             </repeat>
          </tbody>
        </table>
         <!-- footer.html-->
         <include href = "footer.html"/>
