<!--header-->

<include href = "header.html"/>
        <h1 class="cover-heading">The current question is...</h1>
       <p class="lead">{{ @data.question }}</p>

       <check if ="{{ @error }}"><!--if is true show the error-->
        <div class="alert alert-danger" role="alert">{{ @error }}</div>
      </check>
       <p class="lead">
    <form class="mb-3" method="post">
      <input type="text" class="form-control" name="answer" >
      <input type="submit" class="btn btn-secondary mt-2" value="Submit">
      <input type="hidden" name="question_id" value="{{ @data.id}}" />
      <!--  name="question_id"====>answer table**** value="{{ @data.id}}"====>from question table  -->
  </form>
</p>
      <!-- footer.html-->
      <include href = "footer.html"/>
