<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <!--conditional  title -->
    <title>
        <check if = "{{ @title !='' }}">
             <true> {{ @title}} - </true>
             <false>My Homepage for</false>
        </check>
    Quiz</title>
    
 
    <!-- Bootstrap core CSS -->
    <link href="https://getbootstrap.com/docs/4.0/dist/css/bootstrap.min.css" rel="stylesheet">
 
    <!-- Custom styles for this template -->
    <link href="https://getbootstrap.com/docs/4.0/examples/cover/cover.css" rel="stylesheet">
  </head>
 
  <body class="text-center">
 
    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
        
      <header class="masthead mb-auto">
        <div class="inner">
          <h3 class="masthead-brand">Cover</h3>
          <!--menu.html-->
          <include href = "menu.html"/>
        </div>
      </header>
 
      <main role="main" class="inner cover">