        <!--header-->

        <include href = "header.html"/>
        <h1 class="cover-heading">Listing</h1>
        <table class="table">
          <thead class="thead-light">
            <tr>
              <th>#</th>
              <th>Question</th>
              <th>Answers</th>
            </tr>
          </thead>
          <tbody>
            <repeat group="{{ @data }}" value="{{ @item }}" key="{{@key}}">
            <tr>
              <td>{{ @item.id }}</td>
              <td><a href="answers/{{ @item.id }}">{{@item.question }}</a></td><!--answer to spicific question-->
              <td>{{ @item.answers }}</td>
            </tr>
            </repeat>
          </tbody>
        </table>
     <!-- footer.html-->
     <include href = "footer.html"/>

     <!--id
    Question 
  Answer
columns of tables in listing page-->
