<!--header-->

<include href = "header.html"/>
        <h1 class="cover-heading">Cover your page.</h1>
        <p class="lead">Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own.</p>
        <p class="lead">
          <form class="mb-3">
            <input type="text" class="form-control" id="answer" required>
            <div class="invalid-feedback">
              Please enter your shipping address.
            </div>
          </form>
          <a href="#" class="btn btn-lg btn-secondary">Submit</a>
        </p>
      <!-- footer.html-->
      <include href = "footer.html"/>

       
