<nav class="nav nav-masthead justify-content-center">
    <a class="nav-link active" href="http://localhost/PHP_Stphani/quiz/">Home</a>
    <a class="nav-link" href="http://localhost/PHP_Stphani/quiz/question">Current</a>
    <a class="nav-link" href="http://localhost/PHP_Stphani/quiz/listing">Lists</a>
  </nav>