<!DOCTYPE html>
<html lang="en">

<include href="head.html">

    <body style="">
        <div class="container" style="">

            <!-- Log In or Log Out is displayed depending on the cookie's user_id setting -->
            <header class="menu_container">
                <nav class="menu_look">
                    <check if="{{ @COOKIE.user_id == 0 }}">
                        <true>
                            <a class="menu_button" href="login">LogIn</a>
                        </true>
                        <false>
                            <a class="menu_button" href="logout">LogOut</a>
                        </false>
                    </check>
                </nav>
            </header>
            <main>
                <!-- Only logged in users can add items -->
                <div class="header">
                    <check if="{{ @COOKIE.user_id == 0 }}">
                        <true>
                        </true>
                        <false>
                            <form action="add_item" method="GET">
                                <input type="hidden" name="item_owner_id" value="{{@COOKIE.user_id}}">

                                <label class="input_label" for="item_name">Name:</label>
                                <input id="item_name" name="item_name" class="input_box" type="text">

                                <label class="input_label" for="item_description">Description:</label>
                                <input id="item_description" name="item_description" class="input_box" type="text">

                                <label class="input_label" for="item_due_date">Expiration Date:</label>
                                <input id="item_due_date" name="item_due_date" class="input_box" type="datetime-local">

                                <label class="input_label" for="item_bid_amount">Starting Bid:</label>
                                <input id="item_bid_amount" name="item_bid_amount" class="input_box" type="text">

                                <input class="button" type="submit" value="Submit">
                            </form>
                        </false>
                    </check>
                </div>


                <!--items up for auction are looped here-->
                <repeat group="{{@auctions}}" value="{{@item}}">
                    <article class="item_block">
                        <div class="item_grid">
                            <div class="item_label">Owner:</div>
                            <div class="item_owner">{{@item.item_owner_id}}</div>

                            <div class="item_label">Name:</div>
                            <div class="item_detail">{{@item.item_name}}</div>

                            <div class="item_label">Description:</div>
                            <div class="item_description">{{@item.item_description}}</div>

                            <div class="item_label">Due Date:</div>
                            <div class="item_due_date">{{@item.item_due_date}}</div>

                            <div class="item_label">Current Bid:</div>
                            <div class="item_initial_bid">{{@item.item_bid_amount}}</div>

                            <div class="item_label">Bid Date:</div>
                            <div class="item_initial_bid">{{@item.item_bid_date}}</div>

                            <!-- only if due date has not expired and user is logged in and if the logged in user is not the owner can a bid be placed-->
                            <check if="{{ @item.item_due_date > @current_time && @COOKIE.user_id != 0
                            && @item.item_owner_id != @COOKIE.user_id}}">
                                <true>
                                    <form method="GET" action="place_bid">
                                        <input type="submit" value="Place Bid">
                                        <input type="number" name="bid_amount" placeholder="enter amount" value="bid_amount" required>
                                        <input type="hidden" name="item_id" value="{{@item.item_id}}">
                                        <input type="hidden" name="user_id" value="{{@COOKIE.user_id}}">
                                    </form>
                                </true>
                                <false>
                                    <span></span>
                                </false>
                            </check>
                            <check if="{{ @COOKIE.user_id == @item.item_owner_id }}">
                                <true>
                                    <form action="delete_item/{{@item.item_id}}" method="GET">
                                        <input type="submit" value="Remove">
                                    </form>
                                </true>
                                <false>
                                    <span></span>
                                </false>
                            </check>
                        </div>
                        <div class="bids">
                        </div>
                    </article>
                </repeat>

            </main>
            <include href="footer.html"/>
        </div>
    </body>

</html>