<include href="login_head.html"/>

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="HandheldFriendly" content="true">
        <title>MSJS Auctions</title>

        <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;700&display=swap">
 
    </head>

    <div class="text-center">
        <main class="form-signin">
            <form action="POST" class="loginForm">
                <!-- Auction logo -->
                <img class="mb-4" src="../Views/images/MSJSauction.png" alt="" width="" height="350">
                <h3 class="h3 mb-3 fw-normal">Please log in</h3>
            
                <!-- Email input -->
                <div class="form-floating">
                    <input type="email" class="form-control" id="floatingInput" placeholder="Email" data-kwimpalastatus="alive" data-kwimpalaid="1628450500901-2" required>
                    <label for="floatingInput">Email address</label>
                
                </div>

                <!-- Username input -->
                <div class="form-floating">
                    <input type="text" class="form-control" id="floatingPassword" placeholder="Username" data-kwimpalastatus="alive" data-kwimpalaid="1628450500901-1" required>
                    <label for="floatingInput">Username</label>
               
                </div>
            
                <!-- Remember me checkbox -->
                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" value="remember-me"> Remember me
                    </label>
                </div>

                <!-- Sign in button -->
                <button class="w-100 btn btn-lg btn-primary" type="submit">Login</button>
            </form>
        </main>   
    </div>    
    <include href="footer.html"/>
  





        <!-- 
        <main>

            <form action="validation" method="GET">
                <label class="input_label" for="user_name">Username:</label>
                <input id="user_name" name="user_name" class="input_box" type="text" required>
                <label class="input_label" for="user_email">Email:</label>
                <input id="user_email" name="user_email" class="input_box" type="email" required>
                <input class="button" type="submit" value="Submit">
            </form>
            <div class="button">
                <a type="button" href="go_to_register">Register</a>
            </div>
        </main>

        <include href="footer.html">

    </body>
</html>
