<include href="head.html"/>

<div class="container" style="">
    <header class="menu_container">
        <nav class="menu_look">
            <a class="menu_button" href="#">Auction</a>
        </nav>
    </header>
    <main>
        <h1>Welcome {{@user_activity.user_display_name}}</h1>
        <div class="main_grid">

            <div class="main_grid">
                <div class="column">

                    <div id="new_item" class="">
                        <label class="input_label" for="item_name">Item Name:</label>
                        <input id="item_name" class="input_box" type="text">
                        <label class="input_label" for="item_description">Description:</label>
                        <input id="item_description" class="input_box" type="text">
                        <label class="input_label" for="item_due_date">Due Date:</label>
                        <input id="item_due_date" class="input_box" type="text">
                        <label class="input_label" for="item_initial_bid">Initial Bid:</label>
                        <input id="item_initial_bid" class="input_box" type="number">
                        <input type="submit" value="Create Item">
                    </div>

                    <div class="">
                        <tbody>
                            {*
                            <repeat group="{{@user_activity}}" value="{{@item}}">
                                <tr>
                                    <td>Item Name:</td>
                                    <td>{{@item.item_name}}</td>
                                </tr>
                                <tr>
                                    <td>Item Description:</td>
                                    <td>{{@item.item_description}}</td>
                                </tr>
                                <tr>
                                    <td>Due Date:</td>
                                    <td>{{@item.item_due_date}}</td>
                                </tr>
                                <tr>
                                    <td>Item Initial Bid:</td>
                                    <td>{{@item.item_initial_bid}}</td>
                                </tr>
                                <tr>
                                    <td colspan="2"><input type="button" value="Delete Item{{@action}}"></td>
                                </tr>
                            </repeat>
                            *}
                        </tbody>
                    </div>
                </div>

            </div>
        </div>
        <div class="main_grid">
            <div class="main_grid">
                <repeat group="{{@user_bids}}" value="{{@item}}">
                    <tr>
                        <td>Item Name:</td>
                        <td>{{@item.item_name}}</td>
                    </tr>
                    <tr>
                        <td>Item Description:</td>
                        <td>{{@item.item_description}}</td>
                    </tr>
                    <tr>
                        <td>Due Date:</td>
                        <td>{{@item.item_due_date}}</td>
                    </tr>
                    <tr>
                        <td>My Bid:</td>
                        <td>{{@item.item_user_lastest_bid}}</td>
                    </tr>
                    <tr>
                        <td>Top Bid:</td>
                        <td>{{@item.item_highest_bid}}</td>
                    </tr>
                    <tr>
                        <td class="button">Place Bid</td>
                        <td><input type="text" value="{{@item.item_bid}}"></td>
                    </tr>
                </repeat>
            </div>
        </div>
    </main>

    <include href="footer.html"/>
</div>
