/*Footer CSS*/


/*end of Footer CSS*/
/* 
*, ::after, ::before {
    box-sizing: border-box;
}

.container, .container-md, .container-sm {
    max-width: 720px;
}

.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    width: 100%;
    padding-right: var(--bs-gutter-x,.75rem);
    padding-left: var(--bs-gutter-x,.75rem);
    margin-right: auto;
    margin-left: auto;
}

.py-5 {
    padding-top: 3rem!important;
    padding-bottom: 3rem!important;
}

.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y) * -1);
    margin-right: calc(var(--bs-gutter-x) * -.5);
    margin-left: calc(var(--bs-gutter-x) * -.5);
    
}

.col-md-2 {
    flex: 0 0 auto;
    width: 15.36666666%;
}

li {
    list-style: none;
}

.row>* {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-top: var(--bs-gutter-y);
}

div {
    display: block;
}

.offset-1 {
    margin-left: 8.33333333%;
}

form {
    display: block;
    margin-top: 0em;
}

.col-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
}

.py-4 {
    padding-top: 1.5rem!important;
    padding-bottom: 1.5rem!important;
}

.my-4 {
    margin-top: 1.5rem!important;
    margin-bottom: 1.5rem!important;
}

.justify-content-between {
    justify-content: space-between!important;
}

.border-top {
    border-top: 1px solid #dee2e6!important;
}

.d-flex {
    display: flex!important;
}

.social {
    margin-left: 1rem!important;
} */