/* Log-in CSS */

.loginForm {
    width: 100%;
    max-width: 330px;
}



.login-text-center {
    text-align: center!important;
}

body {
    display: flex;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: white;
}

html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}

*, ::after, ::before {
    box-sizing: border-box;
}

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}


main {
    display: block;
}

form {
    display: block;
    margin-top: 0em;
}

/* image */
.mb-4 {
    margin-bottom: 1.5rem!important;
    height: auto;
   
    width: 100%;
    display: flex;

}

img {
    vertical-align: middle;
}

/* Please sign in */
.fw-normal {
    font-weight: 400!important;
}

.mb-3 {
    margin-bottom: 1rem!important;
}

.h3, h3 {
    font-size: calc(1.3rem + .6vw);
    line-height: 1.2;
    margin-top: 0;
}


/* Both textboxes */

.form-floating>.input_box {
    padding: 1rem .75rem;
    height: calc(3.5rem + 2px);
    line-height: 1.25;
}

.input_box {
    display: block;
    width: 100%;
    font-size: 1rem;
    font-weight: 400;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    border-radius: .25rem;
}


/* Email address textbox */
.form-signin input[type="email"] {
    margin-bottom: 7px;
    /* border-bottom-right-radius: 0;
    border-bottom-left-radius: 0; */
}

/* Username textbox */
.form-signin input[type="user_name_input"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}



/* Remeber me Button */ 
button, input, optgroup, select, textarea {
    margin: 0;
}

/* Labels in Email and Username  */
.form-floating>label {
    position: none;
    top: 0;
    left: 0;
    height: 100%;
    padding: 1rem .75rem;
    pointer-events: none;
    border: 1px solid transparent;
    transform-origin: 0 0;
    transition: opacity .1s ease-in-out,transform .1s ease-in-out;
}

label {
    display: inline-block;
    cursor: default;
}


/* Checkbox button */
.form-signin .checkbox {
    font-weight: 400;
    margin-top: 1rem;
}

.mb-3 {
    margin-bottom: 1rem!important;
}

/* Sign-in buttom */
.w-100 {
    width: 100%!important;
}

.btn-group-lg>.btn, .btn-lg {
    padding: .5rem 1rem;
    font-size: 1.25rem;
    border-radius: .3rem;
}

button {
    color: #1764d6;
    
}
.btn-primary {
    color: rgb(27, 0, 179);
    background-color: #1764d6;
    border-color: #1764d6;
}

.btn {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}





/* footer {
    position: fixed;
    /* bottom: 0;
    margin: 0;
    width: 100%;
    padding: 10px;
    height: 200px;
    background-color: rgba(255, 255, 255, 0.973);
    font-family: 'Source Sans Pro', sans-serif;
    color: rgb(0, 0, 0);
    text-align: center;
    clear: both;
    font-size: 20px;
}

footer h3 {
    font-size: 30px;
}

footer img {
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
}

footer li {
    list-style: none;
}

footer ul {
    margin: 0;
    padding: 0;
}

footer a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

footer a:hover {
    color: rgb(47, 0, 255);
    font-size: 21px;
}

footer p {
    font-size: 15px;
}  */